body {
    background-color: #696969; /* Dark background color */
    color: #ffffff; /* White text color for better contrast */
    margin: 0; /* Reset default margin */
}

body .moving-text-container .moving-text {
    background-color: transparent !important;
}

.login-link {
    color: #fff !important; /* Ensure this overrides other styles */
    font-weight: bold;
  }